.cell {
  height: 100%;
  padding: 15px;
  background-color: rgba(26, 26, 42, 0.5);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
}

.cell-header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 8px;
  margin-bottom: 8px;
}

.cell-name {
  flex: 1 0 0;
  font-size: 20px;
  font-weight: 600;
  padding-right: 8px;
  pointer-events: none;
}

.cell-label-adaptive-zoom {
  margin-right: 6px;
}

.cell-toggle-adaptive-zoom,
.cell-dropdown-date-range {
  margin-right: 12px;
}

.cell-dropdown-date-range {
  width: 175px !important;
}

.cell-dropdown-date-range > button {
  height: 24px;
}

.cell-body {
  flex: 1 0 0;
  position: relative;
  height: 100%;
}

.loading-spinner {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.create-cell-name,
.create-cell-visualization-type,
.create-cell-date-range {
  display: flex;
  align-items: flex-end;
}

.create-cell-visualization-type,
.create-cell-date-range {
  margin-bottom: 16px;
}
